@{  
  ViewData["Title"] = "Crear";  
}
 <head>
    <link rel="stylesheet" href="~/css/clockpicker.css" />
    <link rel="stylesheet" href="~/css/datatables.min.css" />
    <link rel="stylesheet" href="~/lib/Toast/dist/jquery.toast.min.css" />
    <link rel="stylesheet" href="~/lib/SweetAlert/dist/sweetalert2.min.css" />
    <script src="~/js/jquery-1.11.3.min.js"></script>
    <script src="~/js/pdfmake.min.js"></script>
    <script src="~/js/vfs_fonts.js"></script>
    <script src="~/js/datatables.min.js"></script>
    <script src="~/lib/SweetAlert/dist/sweetalert2.min.js"></script>
    <script src="~/lib/Toast/dist/jquery.toast.min.js"></script>
    <script src="~/js/clockpicker.js"></script>
  <style>
    .container{
      width:100%!important;
    }
    .btn {
      font-size: 14px;
      padding: 6px 12px;
      margin-bottom: 0;

      display: inline-block;
      text-decoration: none;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-image: none;
      border: 1px solid transparent;
    }

    .btn:focus,
    .btn:active:focus {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px;
    }
    .btn:hover,
    .btn:focus {
      color: #333;
      text-decoration: none;
    }
    
    .btn:active {
      background-image: none;
      outline: 0;
      -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    }
  /* default
  ---------------------------- */
    .btn-default {
      color: #333;
      background-color: #fff;
      border-color: #ccc;
    }
    .btn-default:focus {
      color: #333;
      background-color: #e6e6e6;
      border-color: #8c8c8c;
    }
    
    .btn-default:hover {
      color: #333;
      background-color: #e6e6e6;
      border-color: #adadad;
    }
    .btn-default:active {
      color: #333;
      background-color: #e6e6e6;
      border-color: #adadad;
    }
  .btn-primary {
      color: #fff;
      background-color: #007bff;
      border-color: #007bff;
    }

    .btn-success {
      color: #fff;
      background-color: #28a745;
      border-color: #28a745;
    }

    .btn-danger {
      color: #fff;
      background-color: #dc3545;
      border-color: #dc3545;
    }

    .btn-warning {
      color: #212529;
      background-color: #ffc107;
      border-color: #ffc107;
    }

    .btn-info {
      color: #fff;
      background-color: #17a2b8;
      border-color: #17a2b8;  
    }

    .btn-light {
      color: #212529;
      background-color: #f8f9fa;
      border-color: #f8f9fa;
    }
  </style>

    <meta charset=utf-8 />
    <title>Crear Calendario</title>
  </head>

<hr />  
  @using (Html.BeginForm("Save", "Calendario", FormMethod.Post))
  {
    <body>
      <h1>Calendarios</h1>
      <div class="card">
        <div class="card-header">
          Registro   (@ViewBag.LasIdcrontab)
        </div>
        <div class="card-body">
          <div class="row g-4 align-items-center">

            <div class="col-auto">
              <span id="passwordHelpInline" class="form-text">
                Hora Inicio
              </span>
            </div>
            <div class="col-auto">
              <div class="col-sm-4">
                <input type="text" class="form-control clockpicker" 
                  data-placement="right" data-align="top" name="horaIni" id="horaIni" data-autoclose="true" readonly="">
              </div>
            </div>
          
        <div class="col-auto">
          <span id="passwordHelpInline" class="form-text">
            Hora Fin
          </span>
        </div>

        <div class="col-auto">
          <div class="col-sm-4">
            <input type="text" class="form-control clockpicker" 
              data-placement="right" data-align="top" name="horaFin" id="horaFin" data-autoclose="true" readonly="">
          </div>
        </div>
        </div><hr />

        <h4>Meses</h4>
        <div class="row g-4 align-items-center">
          <div class="col-auto">
            <div class="form-check">
              <input class="form-check-input flexCheckMes" value="0" type="checkbox"  onClick="toggle_month(this)" /> Seleccionar/Deseleccionar todos<br><br>
            </div>
          </div>
        </div>

        <div class="row g-4 align-items-center">
          <div class="col-auto">
            <div class="form-check">
              <input class="form-check-input flexCheckMes" type="checkbox" value="1"  id="flexCheckEnero" name="meses">
              <label class="form-check-label" for="flexCheckEnero">
                Enero
              </label>
            </div>
          </div>
          <div class="col-auto">
            <div class="form-check">
              <input class="form-check-input flexCheckMes" type="checkbox" value="2" id="flexCheckFebrero" name="meses">
              <label class="form-check-label" for="flexCheckFebrero">
                Febrero
              </label>
            </div>
          </div>
          <div class="col-auto">
            <div class="form-check">
              <input class="form-check-input flexCheckMes" type="checkbox" value="3" id="flexCheckMarzo" name="meses">
              <label class="form-check-label" for="flexCheckMarzo">
                Marzo
              </label>
            </div>
          </div>
          <div class="col-auto">
            <div class="form-check">
              <input class="form-check-input flexCheckMes" type="checkbox" value="4" id="flexCheckAbril" name="meses">
              <label class="form-check-label" for="flexCheckAbril">
                Abril
              </label>
            </div>
          </div>
          <div class="col-auto">
            <div class="form-check">
              <input class="form-check-input flexCheckMes" type="checkbox" value="5" id="flexCheckMayo" name="meses">
              <label class="form-check-label" for="flexCheckMayo">
                Mayo
              </label>
            </div>
          </div>
          <div class="col-auto">
            <div class="form-check">
              <input class="form-check-input flexCheckMes" type="checkbox" value="6" id="flexCheckJunio" name="meses">
              <label class="form-check-label" for="flexCheckJunio">
                Junio
              </label>
            </div>
          </div>
          <div class="col-auto">
            <div class="form-check">
              <input class="form-check-input flexCheckMes" type="checkbox" value="7" id="flexCheckJulio" name="meses">
              <label class="form-check-label" for="flexCheckJulio">
                Julio
              </label>
            </div>
          </div>
          <div class="col-auto">
            <div class="form-check">
              <input class="form-check-input flexCheckMes" type="checkbox" value="8" id="flexCheckAgost" name="meses">
              <label class="form-check-label" for="flexCheckAgost">
                Agosto
              </label>
            </div>
          </div>
          <div class="col-auto">
            <div class="form-check">
              <input class="form-check-input flexCheckMes" type="checkbox" value="9" id="flexCheckSept" name="meses">
              <label class="form-check-label" for="flexCheckSept">
                Septiembre
              </label>
            </div>
          </div>        
          <div class="col-auto">
            <div class="form-check">
              <input class="form-check-input flexCheckMes" type="checkbox" value="10" id="flexCheckOct" name="meses">
              <label class="form-check-label" for="flexCheckOct">
                Octubre
              </label>
            </div>
          </div>
          <div class="col-auto">
            <div class="form-check">
              <input class="form-check-input flexCheckMes" type="checkbox" value="11" id="flexCheckNov" name="meses">
              <label class="form-check-label" for="flexCheckNov">
                Noviembre
              </label>
            </div>
          </div>
          <div class="col-auto">
            <div class="form-check">
              <input class="form-check-input flexCheckMes" type="checkbox" value="12" id="flexCheckDic" name="meses">
              <label class="form-check-label" for="flexCheckDic">
                Diciembre
              </label>
            </div>
          </div>
        </div>
        <hr />
          
        <h4>Días</h4>
        <div class="row g-4 align-items-center">
          <div class="col-auto">
            <div class="form-check">
              <input class="form-check-input flexCheckDias" type="checkbox" onClick="toggle_week_days(this)" /> Seleccionar/Deseleccionar todos<br><br>
            </div>
          </div>
        </div>

        <div class="row g-4 align-items-center">
          <div class="col-auto">
            <div class="form-check">
              <input class="form-check-input flexCheckDias" type="checkbox" value="Lunes" id="flexCheckLunes" name="dias_semana">
              <label class="form-check-label" for="flexCheckLunes">
                Lunes
              </label>
            </div>
          </div>
          <div class="col-auto">
            <div class="form-check">
              <input class="form-check-input flexCheckDias" type="checkbox" value="Martes" id="flexCheckMartes" name="dias_semana">
              <label class="form-check-label" for="flexCheckMartes">
                Martes
              </label>
            </div>
          </div>
          <div class="col-auto">
            <div class="form-check">
              <input class="form-check-input flexCheckDias" type="checkbox" value="Miercoles" id="flexCheckMiercoles" name="dias_semana">
              <label class="form-check-label" for="flexCheckMiercoles">
                Miercoles
              </label>
            </div>
          </div>
          <div class="col-auto">
            <div class="form-check">
              <input class="form-check-input flexCheckDias" type="checkbox" value="Jueves" id="flexCheckJueves" name="dias_semana">
              <label class="form-check-label" for="flexCheckJueves">
                Jueves
              </label>
            </div>
          </div>
          <div class="col-auto">
            <div class="form-check">
              <input class="form-check-input flexCheckDias" type="checkbox" value="Viernes" id="flexCheckViernes" name="dias_semana">
              <label class="form-check-label" for="flexCheckViernes">
                Viernes
              </label>
            </div>
          </div>
          <div class="col-auto">
            <div class="form-check">
              <input class="form-check-input flexCheckDias" type="checkbox" value="Sábado" id="flexCheckSabado" name="dias_semana">
              <label class="form-check-label" for="flexCheckSabado">
                Sabado
              </label>
            </div>
          </div>
          <div class="col-auto">
            <div class="form-check">
              <input class="form-check-input flexCheckDias" type="checkbox" value="Domingo" id="flexCheckDomingo" name="dias_semana">
              <label class="form-check-label" for="flexCheckDomingo">
                Domingo
              </label>
            </div>
          </div>
        </div>
        <hr />

        <h4>Días Ejecución</h4>
        <div class="row g-4 align-items-center">
          <div class="col-auto">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" onClick="toggle(this)" /> Seleccionar/Deseleccionar todos<br><br>
            </div>
          </div>
        </div>
        
        <table id="tbl-dias-exe" class="display nowrap" width="100%">
          <thead>
          <tr>
            <td>
              <input class="form-check-input diasexe" type="checkbox" value="1" id="flexCheckUnoExe" name="dinamico" >
            </td>
            <td>
              <label class="form-check-label" for="flexCheckUnoExe">
                1
              </label>
            </td>
            <td>
              <input class="form-check-input diasexe" type="checkbox" value="2" id="flexCheckDosExe" name="dinamico" >
            </td>
            <td>
              <label class="form-check-label" for="flexCheckDosExe">
                2
              </label>
            </td>
            <td>
              <input class="form-check-input diasexe" type="checkbox" value="3" id="flexCheckTresExe" name="dinamico" >
            </td>
            <td>
              <label class="form-check-label" for="flexCheckTresExe">
                3
              </label>
            </td>
            <td>
              <input class="form-check-input diasexe" type="checkbox" value="4" id="flexCheckCuatroExe" name="dinamico" >
            </td>
            <td>
              <label class="form-check-label" for="flexCheckCuatroExe">
                4
              </label>
            </td>
            <td>
              <input class="form-check-input diasexe" type="checkbox" value="5" id="flexCheckCincoExe" name="dinamico" >
            </td>
            <td>
              <label class="form-check-label" for="flexCheckCincoExe">
                5
              </label>
            </td>
            <td>
              <input class="form-check-input diasexe" type="checkbox" value="6" id="flexCheckSeisExe" name="dinamico" >
            </td>
            <td>
              <label class="form-check-label" for="flexCheckSeisExe">
                6
              </label>
            </td>
            <td>
              <input class="form-check-input diasexe" type="checkbox" value="7" id="flexCheckSieteExe" name="dinamico" >
            </td>
            <td>
              <label class="form-check-label" for="flexCheckSieteExe">
                7
              </label>
            </td>
            <td>
              <input class="form-check-input diasexe" type="checkbox" value="8" id="flexCheckOchoExe" name="dinamico" >
            </td>
            <td>
              <label class="form-check-label" for="flexCheckOchoExe">
                8
              </label>
            </td>
            <td>
              <input class="form-check-input diasexe" type="checkbox" value="9" id="flexChecknueveExe" name="dinamico" >
            </td>
            <td>
              <label class="form-check-label" for="flexChecknueveExe">
                9
              </label>
            </td>
            <td>
              <input class="form-check-input diasexe" type="checkbox" value="10" id="flexCheckDiezExe" name="dinamico" >
            </td>
            <td>
              <label class="form-check-label" for="flexCheckDiezExe">
                10
              </label>
            </td>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <input class="form-check-input diasexe" type="checkbox" value="11" id="flexCheckOnceExe" name="dinamico" >
            </td>
            <td>
              <label class="form-check-label" for="flexCheckOnceExe">
                11
              </label>
            </td>
            <td>
              <input class="form-check-input diasexe" type="checkbox" value="12" id="flexCheckDoceExe" name="dinamico" >
            </td>
            <td>
              <label class="form-check-label" for="flexCheckDoceExe">
                12
              </label>
            </td>
            <td>
              <input class="form-check-input diasexe" type="checkbox" value="13" id="flexCheckTreceExe" name="dinamico" >
            </td>
            <td>
              <label class="form-check-label" for="flexCheckTreceExe">
                13
              </label>
            </td>
            <td>
              <input class="form-check-input diasexe" type="checkbox" value="14" id="flexCheckCatorceExe" name="dinamico" >
            </td>
            <td>
              <label class="form-check-label" for="flexCheckCatorceExe">
                14
              </label>
            </td>
            <td>
              <input class="form-check-input diasexe" type="checkbox" value="15" id="flexCheckQuinceExe" name="dinamico" >
            </td>
            <td>
              <label class="form-check-label" for="flexCheckQuinceExe">
                15
              </label>
            </td>
            <td>
              <input class="form-check-input diasexe" type="checkbox" value="16" id="flexCheckDiesiseisExe" name="dinamico" >
            </td>
            <td>
              <label class="form-check-label" for="flexCheckDiesiseisExe">
                16
              </label>
            </td>
            <td>
              <input class="form-check-input diasexe" type="checkbox" value="17" id="flexCheckDiesicieteExe" name="dinamico" >
            </td>
            <td>
              <label class="form-check-label" for="flexCheckDiesicieteExe">
                17
              </label>
            </td>
            <td>
              <input class="form-check-input diasexe" type="checkbox" value="18" id="flexCheckDiesiochoExe" name="dinamico" >
            </td>
            <td>
              <label class="form-check-label" for="flexCheckDiesiochoExe">
                18
              </label>
            </td>
            <td>
              <input class="form-check-input diasexe" type="checkbox" value="19" id="flexCheckDiecinueveExe" name="dinamico" >
            </td>
            <td>
              <label class="form-check-label" for="flexCheckDiecinueveExe">
                19
              </label>
            </td>
            <td>
              <input class="form-check-input diasexe" type="checkbox" value="20" id="flexCheckVeinteExe" name="dinamico" >
            </td>
            <td>
              <label class="form-check-label" for="flexCheckVeinteExe">
                20
              </label>
            </td>
          </tr>
          </tbody>
        </table>
        <table id="tbl-dias-exe" class="display nowrap" width="100%">
          <thead>
          <tr>
            <th>
              <input class="form-check-input diasexe" type="checkbox" value="21" id="flexCheckVeintiunoExe" name="dinamico" >
            </th>
            <td>
              <label class="form-check-label" for="flexCheckVeintiunoExe">
                21
              </label>
            </td>
            <td>
              <input class="form-check-input diasexe" type="checkbox" value="22" id="flexCheckVeintidosExe" name="dinamico" >
            </td>
            <td>
              <label class="form-check-label" for="flexCheckVeintidosExe">
                22
              </label>
            </td>
            <td>
              <input class="form-check-input diasexe" type="checkbox" value="23" id="flexCheckVeintitresExe" name="dinamico" >
            </td>
            <td>
              <label class="form-check-label" for="flexCheckVeintitresExe">
                23
              </label>
            </td>
            <td>
              <input class="form-check-input diasexe" type="checkbox" value="24" id="flexCheckVeinticuatroExe" name="dinamico" >
            </td>
            <td>
              <label class="form-check-label" for="flexCheckVeinticuatroExe">
                24
              </label>
            </td>
            <td>
              <input class="form-check-input diasexe" type="checkbox" value="25" id="flexCheckVeinticincoExe" name="dinamico" >
            </td>
            <td>
              <label class="form-check-label" for="flexCheckVeinticincoExe">
                25
              </label>
            </td>
            <td>
              <input class="form-check-input diasexe" type="checkbox" value="26" id="flexCheckVeintiseisExe" name="dinamico" >
            </td>
            <td>
              <label class="form-check-label" for="flexCheckVeintiseisExe">
                26
              </label>
            </td>
            <td>
              <input class="form-check-input diasexe" type="checkbox" value="27" id="flexCheckVeintisieteExe" name="dinamico" >
            </td>
            <td>
              <label class="form-check-label" for="flexCheckVeintisieteExe">
                27
              </label>
            </td>
            <td>
              <input class="form-check-input diasexe" type="checkbox" value="28" id="flexCheckVeintiochoExe" name="dinamico" >
            </td>
            <td>
              <label class="form-check-label" for="flexCheckVeintiochoExe">
                28
              </label>
            </td>
            <td>
              <input class="form-check-input diasexe" type="checkbox" value="29" id="flexCheckVeintinueveExe" name="dinamico" >
            </td>
            <td>
              <label class="form-check-label" for="flexCheckVeintinueveExe">
                29
              </label>
            </td>
            <td>
              <input class="form-check-input diasexe" type="checkbox" value="30" id="flexCheckTreintaExe" name="dinamico" >
            </td>
            <td>
              <label class="form-check-label" for="flexCheckTreintaExe">
                30
              </label>
            </td>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <input class="form-check-input diasexe" type="checkbox" value="31" id="flexCheckTreintaunoExe" name="dinamico" >
            </td>
            <td>
              <label class="form-check-label" for="flexCheckTreintaunoExe">
                31
              </label>
            </td>
          </tr>
          </tbody>
        </table>
        <hr />

        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="row g-4 align-items-center">
            <div class="col-auto">
              <span id="RepeatEveryMins" class="form-text">
                REPEAT_EVERY_MINS
              </span>
            </div>
            <div class="col-auto">
              <input type="number" min="1" class="form-control" data-placement="right" data-align="top" data-autoclose="true" id="txtRepeatEveryMins" name="txtRepeatEveryMins" placeholder="0">
            </div>
            <div class="col-auto">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="IdRepeatAfterFin">
                <label class="form-check-label" for="RepeatAfterFin">
                  REPEAT_AFTER_FINISH
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer text-muted">
        <a id="btnSave" class="btn btn-primary">Guardar</a>
      </div>
    </div>
    </body>
  }
  
  <script> 
   var mesesArray=[];
   var diasexeArray=[];
  var flagHoras = false;

   function daysMonth(anio,mes){
var arrayDays=[];
var diasMes = new Date(anio, mes, 0).getDate();
var diasSemana = ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'];

for (var dia = 1; dia <= diasMes; dia++) {
  // Ojo, hay que restarle 1 para obtener el mes correcto
  var indice = new Date(anio, mes - 1, dia).getDay();
    arrayDays.push({"dia":`${dia}`,"mes":`${mes}`,"anio":`${anio}`,"nombredia":`${diasSemana[indice]}`});
}
return arrayDays;
}

function getDays(arrayDay,dia){
 var data=$.map(arrayDay, function(obj) {
    if(obj.nombredia == dia || dia=="")
         return obj; 
});
    return data;

    
}


    function toggle(source) {
      checkboxes = document.getElementsByName('dinamico');

      for(var i=0, n=checkboxes.length;i<n;i++) {
        checkboxes[i].checked = source.checked;
      }
    } 

    function toggle_week_days(source) {
      checkboxes = document.getElementsByName('dias_semana');

      for(var i=0, n=checkboxes.length;i<n;i++) {
        checkboxes[i].checked = source.checked;
      }
    }

    function toggle_month(source) {
      checkboxes = document.getElementsByName('meses');

      for(var i=0, n=checkboxes.length;i<n;i++) {
        checkboxes[i].checked = source.checked;
      }
    }

    $(document).on("ready",function() {
      $('#btnSave').on('click',function() {
          
        var hora_ini=$('#horaIni').val();
        hora_ini=hora_ini.replace(":", "");

        var repeat_every_mins = $('#txtRepeatEveryMins').val();
        var hora_fin=$('#horaFin').val();
        hora_fin=hora_fin.replace(":", "");

        var diastext=($('#flexCheckLunes').is(":checked") ? 1 : 0) + ""
          +($('#flexCheckMartes').is(":checked") ? 1 : 0) + ""
          +($('#flexCheckMiercoles').is(":checked") ? 1 : 0) + ""
          +($('#flexCheckJueves').is(":checked") ? 1 : 0) + ""
          +($('#flexCheckViernes').is(":checked") ? 1 : 0) + ""
          +($('#flexCheckSabado').is(":checked") ? 1 : 0) + ""
          +($('#flexCheckDomingo').is(":checked") ? 1 : 0) + "";

        if(!flagHoras)
        {
        Swal.fire ('Rango de horas...', "Hora fin debe ser mayor a hora inicio", 'error')
        return;
        }
        flagHoras=false;
        var repeat_after_finish= ($('#IdRepeatAfterFin').is(":checked") ? 1 : 0);  
          var data_cron={
            "oCrontab": {
              /*"IDCRONTAB":,*/
              "FECHA":"00000000",
              "HORA_INICIO":hora_ini,
              "HORA_FIN":hora_fin,
              "RECURRENCIA":"0000",
              "WDAY_M2S_EX":diastext,
              "DAY_EX": diasexeArray.length > 0 ? diasexeArray.join(","):"0",
              "MONTH_EX":mesesArray.length > 0 ? mesesArray.join(","):"0",
              "REPEAT_EVERY_MINS":repeat_every_mins,
              "REPEAT_AFTER_FINISH":repeat_after_finish
            }
          };

          $.ajax({
            method: "POST",
            async: true,
            dataType: "json",
            data: JSON.stringify(data_cron),
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("Save", "Calendario")' ,
            success: function () {
            Swal.fire({
            title: "Calendario registrado!",
            text: "Click en aceptar para ver calendarios registrados!",
            icon: "success",
            confirmButtonText: "Aceptar",
          }).then((result) => {
          if (result.isConfirmed) {
            $(location).attr("href","@Url.Action("Index","Calendario")")
          }  
        });
        },
        error: function () {
          alert("Error while inserting data");
        }
      });

    })

  $(".flexCheckMes").on("change",function(){

    if($(this).is(":checked"))
    { 
      var miarrayx=daysMonth(2024,$(this).val());
      var dias=getDays(miarrayx,"");
      if($('.flexCheckMes:checked').length==1)
      $(".diasexe").prop("disabled",true);
      $.each(dias, function( index, item ) 
      {
        //console.log(item);
        $(":checkbox[value="+item.dia+"]").prop("disabled",false);
      });
      //  console.log("mes seleccionado ",$(this).is(":checked")," valor ",$(this).val())
      mesesArray.indexOf($(this).val()) === -1 ? mesesArray.push($(this).val()) :''; 
    } 
    else 
    {
      const index = mesesArray.indexOf($(this).val());
      const x = mesesArray.splice(index, 1);
    }
    console.log("meses seleccionados ",mesesArray.join(","));
    })
  
    $(".flexCheckDias").on("change",function(){
    /*if($(this).is(":checked"))
    console.log("dia seleccionado ",$(this).is(":checked")," valor ",$(this).val())
    */
    var miarrayx=daysMonth(2024,$('.flexCheckMes:checked').val());
    var dias=getDays(miarrayx,$(this).val());
    if($('.flexCheckDias:checked').length==1) {
      $(".diasexe").prop("disabled",true);
      $.each(dias, function( index, item ) {
        //console.log(item);
        $(":checkbox[value="+item.dia+"]").prop("disabled",false);
      });
    }
    else 
      $(".diasexe").prop("disabled",false);
    })

  $(".diasexe").on("change",function() {
    if($(this).is(":checked"))
    {
      diasexeArray.indexOf($(this).val()) === -1 ? diasexeArray.push($(this).val()) : '';
    }
    else 
    {
      const index = diasexeArray.indexOf($(this).val());
      const x = diasexeArray.splice(index, 1);
    }
    console.log("dias ejecucion  seleccionados ",diasexeArray.join(","));
  })

    $('#horaIni').clockpicker({
      placement: 'bottom',
      align: 'right',
      autoclose: true,
      'default': 'now',
      afterDone: function () {
        if($('#horaFin').get(0).value > $('#horaIni').get(0).value)
        flagHoras = true;  
      }
    });
    $('#horaFin').clockpicker({
      placement: 'bottom',
      align: 'right',
      autoclose: true,
      'default': 'now',
      afterDone: function () {
        if($('#horaFin').get(0).value > $('#horaIni').get(0).value)
        flagHoras = true;
      }
    });
  })
</script>