@{
  ViewData["Title"] = "Edit";
}

<h1>Editar Jobs</h1>
<div>
  <a asp-action="Index" class="btn btn-primary">Inicio</a>
</div>
<br />
<div class="card">
  <div class="card-header">
    <a href="#" class="btn btn-primary">Guardar</a>
  </div>
  <div class="card-body">
    <div class="row g-4 align-items-center">
      <div class="col-auto">
        <label for="TittleProc" class="col-form-label">IDPROC</label>
      </div>
      <div class="col-auto">
        <label for="txtIdProc" class="col-form-label">01</label>
      </div>
      <div class="col-auto">
        <label for="TittleConex" class="col-form-label">IDCONEX</label>
      </div>
      <div class="col-auto">
        <input type="number" min="1" class="form-control clockpicker" data-placement="right" data-align="top" data-autoclose="true">
      </div>
      <div class="col-auto">
        <label for="TittleNombre" class="col-form-label">NOMBRE</label>
      </div>
      <div class="col-auto">
        <input type="text" min="1" class="form-control clockpicker" data-placement="right" data-align="top" data-autoclose="true">
      </div>
    </div>

    <br/>
    <div class="row g-4 align-items-center">
      <div class="col-auto">
        <label for="TittleDescrpcion" class="col-form-label">DESCRIPCIÓN</label>
      </div>
      <div class="col-auto">
        <input type="text" min="1" class="form-control clockpicker" data-placement="right" data-align="top" data-autoclose="true">
      </div>
      <div class="col-auto">
        <label for="TittlePath" class="col-form-label">PATH</label>
      </div>
      <div class="col-auto">
        <input type="text" min="1" class="form-control clockpicker" data-placement="right" data-align="top" data-autoclose="true">
      </div>
      <div class="col-auto">
        <label for="TittleParametro1" class="col-form-label">PARAMETRO1</label>
      </div>
      <div class="col-auto">
        <input type="text" min="1" class="form-control clockpicker" data-placement="right" data-align="top" data-autoclose="true">
      </div>
      <div class="col-auto">
        <label for="TittleParametroDos" class="col-form-label">PARAMETRO2</label>
      </div>
      <div class="col-auto">
        <input type="text" min="1" class="form-control clockpicker" data-placement="right" data-align="top" data-autoclose="true">
      </div>
      <div class="col-auto">
        <label for="TittleParametroTres" class="col-form-label">PARAMETRO3</label>
      </div>
      <div class="col-auto">
        <input type="text" min="1" class="form-control clockpicker" data-placement="right" data-align="top" data-autoclose="true">
      </div>
      <div class="col-auto">
        <label for="TittleParametroCuatro" class="col-form-label">PARAMETRO4</label>
      </div>
      <div class="col-auto">
        <input type="text" min="1" class="form-control clockpicker" data-placement="right" data-align="top" data-autoclose="true">
      </div>
      <div class="col-auto">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="IdDependencia">
            <label class="form-check-label" for="IdDependencia">
              DEPENDENCIA
            </label>
        </div>
      </div>
      <div class="col-auto">
        <span id="RepeatIntentos" class="form-text">
          INTENTOS
        </span>
    </div>
    <div class="col-auto">
      <input type="number" min="1" class="form-control clockpicker" data-placement="right" data-align="top" data-autoclose="true">
    </div>
    <div class="col-auto">
      <span id="RepeatEsperaIntento" class="form-text">
        ESPERA INTENTO
      </span>
    </div>
    <div class="col-auto">
      <input type="number" min="1" class="form-control clockpicker" data-placement="right" data-align="top" data-autoclose="true">
    </div>
    <div class="col-auto">
      <span id="RepeatEstado" class="form-text">
        ESTADO
      </span>
    </div>
      <div class="col-auto">
        <select class="form-select" name="estado" id="estado">
          <option value="act">ACTIVO</option>
          <option value="inact">INACTIVO</option>
          <option value="int">INTERNAL</option>
        </select>
      </div>
      <div class="col-auto">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckFtp">
          <label class="form-check-label" for="flexCheckFtp">
            FTP
          </label>
        </div>
      </div>
      <div class="col-auto">
        <span id="idHost" class="form-text">
          IDHOST
        </span>
      </div>
      <div class="col-auto">
        <input type="number" min="1" class="form-control clockpicker" data-placement="right" data-align="top" data-autoclose="true">
      </div>
      <div class="col-auto">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckComprension">
          <label class="form-check-label" for="flexCheckComprension">
            COMPRESION
          </label>
        </div>
      </div>
      <div class="col-auto">
        <span id="Node" class="form-text">
          NODE
        </span>
      </div>
      <div class="col-auto">
        <input type="number" min="1" class="form-control clockpicker" data-placement="right" data-align="top" data-autoclose="true">
      </div>
    </div>
  </div>
  <div class="card-footer text-muted">
    <h4 style="text-align: center;">Editar crontab asociado</h4>
  </div>
</div>

<div class="modal fade" id="miModalDetCront" tabindex="-1" role="dialog" aria-labelledby="modalDetalleCrontabLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="modalDetalleCrontabLabel">Detalle del crontab</h4>
      </div>
      <div class="modal-body">
        <a href="#" class="link-info">Días</a>
        <hr />
        <div class="row g-4 align-items-center">
          <div class="col-auto">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckTxtLunes" name="dias_semana">
              <label class="form-check-label" for="flexCheckTxtLunes">
                Lunes
              </label>
            </div>
          </div>
          <div class="col-auto">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckTxtMartes" name="dias_semana">
              <label class="form-check-label" for="flexCheckTxtMartes">
                Martes
              </label>
            </div>
          </div>
          <div class="col-auto">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckTxtMiercoles" name="dias_semana">
              <label class="form-check-label" for="flexCheckTxtMiercoles">
                Miercoles
              </label>
            </div>
          </div>
          <div class="col-auto">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckTxtJueves" name="dias_semana">
              <label class="form-check-label" for="flexCheckTxtJueves">
                Jueves
              </label>
            </div>
          </div>
          <div class="col-auto">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckTxtViernes" name="dias_semana">
              <label class="form-check-label" for="flexCheckTxtViernes">
                Viernes
              </label>
            </div>
          </div>
          <div class="col-auto">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckTxtSabado" name="dias_semana">
              <label class="form-check-label" for="flexCheckTxtSabado">
                Sabado
              </label>
            </div>
          </div>
          <div class="col-auto">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckTxtDomingo" name="dias_semana">
              <label class="form-check-label" for="flexCheckTxtDomingo">
                Domingo
              </label>
            </div>
          </div>
        </div>
        <hr />
        <div class="row g-4 align-items-center">
          <div class="col-auto">
            <label for="TittleCrontab" class="col-form-label">IDCRONTAB</label>
          </div>
          <div class="col-auto">
            <label for="txtCrontab" class="col-form-label" id="txtCrontab">@ViewBag.IDCRONTAB</label>
          </div>
          <div class="col-auto">
            <span id="passwordHelpInline" class="form-text">
              Hora Inicio
            </span>
          </div>
          <div class="col-auto">
            <label for="txtHoraIni" class="col-form-label" id="txtHoraIni">@ViewBag.HORA_INICIO</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <table id="dt-crontab" class="display nowrap" width="100%">
    <thead>
      <tr>
        <th></th>
        <th>CRONTAB</th>
        <th>DETALLE</th>
      </tr>
    </thead>
    <tbody>
      <td>
        <input type="radio" name="id[IDCRONTAB]" value=""></input>
      </td>
      <td>
        <label for="txtCrontab" class="col-form-label" id="txtCrontab">@ViewBag.IDCRONTAB</label>
      </td>
      <td>
        <div class="contenedor-modal">
          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#miModalDetCront">Ver</button>
        </div>
      </td>
    </tbody>
  </table>
</div>

<script> 
  var params={};
  var table={};
  var idjob="";
  params.idcrontab=idcrontab;
</script>		