<!DOCTYPE html>
<html>

<head>
</head>
  <body>
    <h1>Jobs</h1>
    <div class="card">
      <div class="card-header">
        <button type="button" class="btn btn-primary">Nuevo</button>
      </div>
      <div class="card-body">
        <div class="row g-4 align-items-center">
          <div class="col-auto">
            <label for="TittleProc" class="col-form-label">IDPROC</label>
          </div>
          <div class="col-auto">
            <label for="txtIdProc" class="col-form-label">01</label>
          </div>
          <div class="col-auto">
            <label for="TittleConex" class="col-form-label">IDCONEX</label>
          </div>
          <div class="col-auto">
            <input type="number" min="1" class="form-control clockpicker" data-placement="right" data-align="top" data-autoclose="true">
          </div>
          <div class="col-auto">
            <label for="TittleNombre" class="col-form-label">NOMBRE</label>
          </div>
          <div class="col-auto">
            <input type="text" min="1" class="form-control clockpicker" data-placement="right" data-align="top" data-autoclose="true">
          </div>
        </div>

        <div class="row g-4 align-items-center">
          <div class="col-auto">
            <label for="TittleDescrpcion" class="col-form-label">DESCRIPCIÓN</label>
          </div>
          <div class="col-auto">
            <input type="text" min="1" class="form-control clockpicker" data-placement="right" data-align="top" data-autoclose="true">
          </div>
          <div class="col-auto">
            <label for="TittlePath" class="col-form-label">PATH</label>
          </div>
          <div class="col-auto">
            <input type="text" min="1" class="form-control clockpicker" data-placement="right" data-align="top" data-autoclose="true">
          </div>
          <div class="col-auto">
            <label for="TittleParametro1" class="col-form-label">PARAMETRO1</label>
          </div>
          <div class="col-auto">
            <input type="text" min="1" class="form-control clockpicker" data-placement="right" data-align="top" data-autoclose="true">
          </div>
          <div class="col-auto">
            <label for="TittleParametroDos" class="col-form-label">PARAMETRO2</label>
          </div>
          <div class="col-auto">
            <input type="text" min="1" class="form-control clockpicker" data-placement="right" data-align="top" data-autoclose="true">
          </div>
          <div class="col-auto">
            <label for="TittleParametroTres" class="col-form-label">PARAMETRO3</label>
          </div>
          <div class="col-auto">
            <input type="text" min="1" class="form-control clockpicker" data-placement="right" data-align="top" data-autoclose="true">
          </div>
          <div class="col-auto">
            <label for="TittleParametroCuatro" class="col-form-label">PARAMETRO4</label>
          </div>
          <div class="col-auto">
            <input type="text" min="1" class="form-control clockpicker" data-placement="right" data-align="top" data-autoclose="true">
          </div>
          <div class="col-auto">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="IdDependencia">
              <label class="form-check-label" for="IdDependencia">
                DEPENDENCIA
              </label>
            </div>
          </div>
          <div class="col-auto">
            <span id="RepeatIntentos" class="form-text">
              INTENTOS
            </span>
          </div>
          <div class="col-auto">
            <input type="number" min="1" class="form-control clockpicker" data-placement="right" data-align="top" data-autoclose="true">
          </div>
          <div class="col-auto">
            <span id="RepeatEsperaIntento" class="form-text">
              ESPERA INTENTO
            </span>
          </div>
          <div class="col-auto">
            <input type="number" min="1" class="form-control clockpicker" data-placement="right" data-align="top" data-autoclose="true">
          </div>
        </div>
      </div>

  </body>

</html>